.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height: 100svh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.spinnerActive {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
}

.loaderActive {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
